@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Oswald', sans-serif;
}
h1, h2, h3, p {
    margin: 0;
}

:root {
    --main-yellow: #e2d829;
    --main-blue: #13eadf;
}